.footer{
  background-color: rgb(235, 232, 229);
  width: 100%;
  color: rgb(22, 22, 22);
  height: 300px;
}
.footerdiv i{
  font-size: 50px;
  margin: 10px 30px;
  cursor: pointer;
}
.title-footer{
  font-family: "Inria Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 50px;
}
.containerreceta{
  display: flex;
  flex-direction: column;
  margin: 20px;

}
.title-receta{
  text-align: center;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 33px;

}
img{
  border-radius: 15px;
  border: solid rgb(90, 87, 87) 3px;
  height: 600px;
  width: 1000px;
  margin: 30px;
}
.receta{
  font-family: sans-serif;
  text-align: start;
  font-weight: bold;
  font-size: 16px;
}
.title{
  font-family: sans-serif;
  font-weight: bold;
  font-size: 50px;
}